<%- include("partials/header.ejs") %>

        <section id="book" class="book">
            <h2><span>Daftar Buku</span></h2>
            <% for(let book of books.results) { %>
                <div class="row">
                    <div class="book-img">
                        <img src="<%= book.formats['image/jpeg'] %>" alt="<%= book.title %>">
                    </div>
                    <div class="content">
                        <h3><%= book.title %></h3>
                        <% book.authors.forEach(author => {  %>
                            <p><%= author.name %></p>
                            <p>(<%= author.birth_year %> - <%= author.death_year %>)</p>
                            <% }); %>
                            [<a href="<%= book.formats['text/html'] %>" target="_blank">baca buku</a>] -

                            <% let cariId = false; %>
                            <% for (let j = 0; j < dbBook.length; j++) { %>
                                <% note = dbBook[j] %>
                                <% if (note.judul === book.title) { %>
                                    [<a href="/note/<%= note.id %>/edit">edit note</a>]
                                    <% cariId = true; %>
                                <% } %>
                            <% }; %>
                            <% if (!cariId) { %>
                                [<a href="/note/<%= book.id %>">note baru</a>]
                            <% }; %>
                    </div>
                </div>
            <% }; %>
        </section>

<%- include("partials/footer.ejs") %>